// COLORS
$colorPrimary: #1b2961;
$colorSecondary: #3ec7f4;
$colorBg: #090d16;
$colorWhite: #ffffff;
$colorBlack: #0b1018;
$colorGrey: #88909c;

$defaultFontSize: 1.6rem;
$transition: all 0.3s ease-in-out;

$fontPrimary: "Inter", sans-serif;
$fontSecondary: "Bebas Neue", sans-serif;

$boxShadow: rgba($colorPrimary, 0.06) 0px 22px 50px 4px;
